* {
  margin: 0;
  padding: 0;
}
.products__container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}
.product__image {
  height: 100%;
  width: 250px;
  margin: 20px 50px 20px 50px;
}
.subheader__container {
  height: 40%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}
.single__subheader__container {
  height: 100%;
  width: 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px 20px 10px 20px;
}
.single__subheader__container:hover {
  background-color: black;
  cursor: pointer;
  color: white;
}
.category__title {
  font-size: 50;
  font-weight: bolder;
  text-align: center;
}
.single__product {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
}
